{% extends 'base.html.twig' %}

{% block title %}Chocobar.bz - Mes recettes
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
	<link href="{{ asset('styles/recipe/recipe.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<h1>Les recettes</h1>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	{% if recipes is not empty %}
		{# total items count #}
		<div class="count">
			<strong>{{ recipes.getTotalItemCount }}
				recettes au total 📝</strong>
		</div>

        <div class="choco-public-recipes">
		{% for recipe in recipes %}
			<a href="{{ path('recipe', {'id': recipe.id}) }}">
                <div class="choco-recipe">
                    <h3>{{ recipe.name }}</h3>
                    <p>{{ recipe.timeCreate|date("d/m/Y")}}</p>
                    <p>{{ recipe.description|slice(0, 100) ~ '...'}}</p>
                </div>
            </a>
		{% endfor %}
        </div>

		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(recipes) }}
		</div>
	{% else %}
		<p>Aucune recettes</p>
	{% endif %}

{% endblock %}
